<h1 class="blue-text text-darken-2">Welcome</h1>
<p class="flow-text z-depth-1" style="padding: 15px;">
    Portfolio Assignment
</p>
<a class="waves-effect waves-light btn-large pulse blue" href={{urlState}}>Log in or Create an account</a>